.genre-filter-title {
	padding-top: 12px;
	text-align: center;
}

.genre-filter-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	padding: 4px 24px 24px;

	.genre-filter-item {
		border-radius: 8px;
		padding: 16px 8px;
		min-width: 96px;
		cursor: pointer;
		text-align: center;
		background-color: #19224780;

		&:hover {
			background-color: #192247E6;
		}

		label {
			cursor: pointer;
		}
	}
}