<div class="home-component">
	<app-search-bar></app-search-bar>

	<div class="section-container">
		<h3 class="section-title">Popular</h3>
		<div class="carrossel-chevron left" (click)="scrollMovieList('left')">
			<ng-icon name="bootstrapChevronLeft" size="32"></ng-icon>
		</div>
		<div class="carrossel-chevron right" (click)="scrollMovieList('right')">
			<ng-icon name="bootstrapChevronRight" size="32"></ng-icon>
		</div>
		<div class="movie-list" #movieList>
			<app-movie-card *ngFor="let movie of movies" [movie]="movie"></app-movie-card>
		</div>
	</div>

	<app-genre-filter [genres]="genres"></app-genre-filter>
</div>