.home-component {
	.section-container {
		padding: 0 24px;
		position: relative;

		.carrossel-chevron {
			position: absolute;
			height: 316px;
			display: flex;
			align-items: center;
			cursor: pointer;
			transition: all 0.4s;
			padding: 0 4px;
			z-index: 1;

			&.right {
				right: 24px;

				&:hover {
					background: linear-gradient(270deg, rgba(0,0,0,0.8), transparent);
				}
			}

			&.left {
				left: 24px;

				&:hover {
					background: linear-gradient(90deg, rgba(0,0,0,0.8), transparent);
				}
			}
		}

		.movie-list {
			display: flex;
			gap: 10px;
			overflow-x: auto;
			scroll-behavior: smooth;
			-ms-overflow-style: none;
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}